* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

/* -----------HEADER----------- */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  color: white;
  overflow-x: hidden;
}

.logo h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
}

.links {
  display: none;
}

.menu-icon {
  width: 36px;
  height: 36px;
  background-image: url(./assets/menu.png);
  background-size: cover;
  background-position: center;
  filter: invert(100%);
}

.enabled,
.disabled {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 3rem 0 3rem;
  font-family: "Inter", sans-serif;
  transition: left 0.5s ease;
}

.enabled {
  left: 15%;
  animation: slidein 300ms;
}

.disabled {
  animation: slideaway 200ms;
  display: none;
  left: 100%;
}

@keyframes slidein {
  from {
    transform: translateX(100%);
    overflow: hidden;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    overflow: hidden;
  }
}

@keyframes slideaway {
  from {
    display: flex;
    overflow: hidden;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
    display: none;
    overflow: hidden;
  }
}

.enabled a,
.disabled a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.closing-icon-holder {
  display: flex;
  justify-content: flex-end;
}

.closing-icon {
  width: 36px;
  height: 36px;
  background-image: url(./assets/close.png);
  background-size: cover;
  background-position: center;
}

/* -----------MAIN----------- */
main {
  max-width: 100%;
  overflow-x: hidden;
}

.overflow-hidden {
  overflow-y: hidden;
}

/* -----------HERO----------- */

.hero {
  height: 100vh;
  background: rgba(0, 0, 0, 0.4) url(./assets/background.png);
  background-size: cover;
  color: white;
  padding: 11rem 5rem 15rem 2rem;
  background-blend-mode: darken;
}

.hero h1 {
  font-family: "Libre Caslon Display", serif;
  font-size: 2.5rem;
  margin: 1.5rem 0;
}

.hero p {
  font-family: "Inter", sans-serif;
  line-height: 1.8;
  margin-bottom: 2rem;
}

.hero a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: white;
  border: 2px solid white;
  padding: 0.6rem 1.5rem;
  border-radius: 10px;
}
