* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

/* -----------HEADER----------- */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  color: white;
  overflow-x: hidden;
}

.logo h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
}

.links {
  display: none;
}

.menu-icon {
  width: 36px;
  height: 36px;
  background-image: url(./assets/menu.png);
  background-size: cover;
  background-position: center;
  filter: invert(100%);
}

.enabled,
.disabled {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 3rem 0 3rem;
  font-family: "Inter", sans-serif;
  transition: left 0.5s ease;
}

.enabled {
  left: 15%;
  animation: slidein 200ms;
}

.disabled {
  animation: slideaway 200ms;
  display: none;
  left: 100%;
}

@keyframes slidein {
  from {
    transform: translateX(100%);
    overflow: hidden;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    overflow: hidden;
  }
}

@keyframes slideaway {
  from {
    display: flex;
    overflow: hidden;
  }
  to {
    transform: translateX(100%);
    /* opacity: 0; */
    display: none;
    overflow: hidden;
  }
}

.enabled a,
.disabled a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.closing-icon-holder {
  display: flex;
  justify-content: flex-end;
}

.closing-icon {
  width: 36px;
  height: 36px;
  background-image: url(./assets/close.png);
  background-size: cover;
  background-position: center;
}

/* -----------MAIN----------- */
main {
  max-width: 100%;
  overflow-x: hidden;
}

.overflow-hidden {
  overflow-y: hidden;
}

/* -----------HERO----------- */

.hero {
  height: 100vh;
  background: rgba(0, 0, 0, 0.4) url(./assets/background.png);
  background-size: cover;
  color: white;
  padding: 11rem 5rem 15rem 2rem;
  background-blend-mode: darken;
}

.hero h1 {
  font-family: "Libre Caslon Display", serif;
  font-size: 2.5rem;
  margin: 1.5rem 0;
}

.hero p {
  font-family: "Inter", sans-serif;
  line-height: 1.8;
  margin-bottom: 2rem;
}

.hero a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: white;
  border: 2px solid white;
  padding: 0.6rem 1.5rem;
  border-radius: 10px;
}

/* -----------NEW----------- */

.new {
  font-family: "Inter", sans-serif;
  padding: 3rem 2rem;
}

.new h2 {
  margin-bottom: 3rem;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.post {
  display: flex;
  flex-direction: column;
}

.post-info {
  position: relative;
  padding: 2rem;
  border: 1px solid #dddddd;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.post-info h3 {
  margin-bottom: 2rem;
}

.post-info p {
  font-size: 0.9rem;
  color: #b7b7b7;
}

.post-info a {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  text-decoration: none;
  color: #d9852c;
  font-weight: 600;
}
.post-img {
  width: 100%;
  min-height: 352px;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
}

.post-img.post1 {
  background-image: url(./assets/art1.png);
}
.post-img.post2 {
  background-image: url(./assets/art2.png);
}
.post-img.post3 {
  background-image: url(./assets/art3.png);
}

/* -----------RESPONSIVE----------- */

@media (min-width: 570px) {
  /* ------MENU------ */
  .enabled a,
  .disabled a {
    font-size: 1.8rem;
  }

  /* ------HERO------ */
  .hero {
    padding: 15rem 7rem 15rem 2rem;
  }
  .hero h1 {
    font-size: 3rem;
  }
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 2.2rem;
  }
  .hero a {
    padding: 0.8rem 1.7rem;
    border-radius: 10px;
  }

  /* ------NEW------ */
  .new h2 {
    font-size: 1.7rem;
  }

  .post-info p {
    font-size: 1rem;
  }

  .post-info h3 {
    font-size: 1.4rem;
  }

  .post-info a {
    font-size: 1.1rem;
  }
}

@media (min-width: 770px) {
  /* ------MENU------ */
  .enabled a,
  .disabled a {
    font-size: 1.8rem;
  }

  /* ------HERO------ */
  .hero {
    padding: 15rem 8rem 15rem 2rem;
  }
  .hero h1 {
    font-size: 3.1rem;
  }
  .hero p {
    font-size: 1.4rem;
    margin-bottom: 2.3rem;
  }
  .hero a {
    padding: 0.8rem 1.7rem;
    border-radius: 10px;
    font-size: 1.1rem;
  }

  /* ------NEW------ */

  .new {
    font-family: "Inter", sans-serif;
    padding: 3rem 3rem;
  }

  .new h2 {
    font-size: 1.7rem;
  }

  .post-info p {
    font-size: 1rem;
  }

  .post-info h3 {
    font-size: 1.4rem;
  }

  .post-info a {
    font-size: 1.1rem;
  }
}

@media (min-width: 992px) {
  /* ------NAV------ */

  nav {
    padding-top: 2.3rem;
  }

  /* ------MENU------ */
  .links {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .links a {
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
  }

  .btn {
    border: 2px solid white;
    padding: 0.5rem 1.7rem;
    border-radius: 10px;
  }

  .menu-icon {
    display: none;
  }

  .disabled {
    display: none;
  }

  /* ------HERO------ */
  .hero {
    padding: 15rem 16rem 15rem 4rem;
  }
  .hero h1 {
    font-size: 4.4rem;
    max-width: 700px;
  }
  .hero p {
    font-size: 1.6rem;
    margin-bottom: 2.3rem;
    max-width: 700px;
  }
  .hero a {
    padding: 0.8rem 1.7rem;
    border-radius: 10px;
    font-size: 1.2rem;
  }

  /* ------NEW------ */

  .new {
    min-height: 100vh;
    padding: 4rem 3rem;
  }

  .new h2 {
    font-size: 2.5rem;
    margin-bottom: 4rem;
  }

  .posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 1.5rem;
    min-height: 650px;
    align-items: stretch;
  }

  .post {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  .post-img {
    min-height: 60%;
  }

  .post-info {
    height: 40%;
    gap: 1.8rem;
  }

  .post-info p {
    font-size: 1rem;
  }

  .post-info h3 {
    font-size: 1.4rem;
  }

  .post-info a {
    font-size: 1.1rem;
  }
}
